<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Post - Proactive Air Service</title>
    <link rel="stylesheet" href="../assets/style.css" />
  </head>
  <body>
    <h1>Add Post</h1>

    <form method="POST">
      {% csrf_token %}

      <label for="content">Post Content:</label><br />
      <textarea name="content" id="content" rows="5" required></textarea
      ><br /><br />

      <button type="submit">Add Post</button>
    </form>

    {% if form.errors %}
    <div style="color: red">{{ form.errors }}</div>
    {% endif %}
  </body>
</html>
